*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2C3E50;
    text-align: center;
    color: white;
}
.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game-board{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: lightyellow;
}
.reset{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    font-family: roboto sans-serif;
    background-color: lightblue;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    cursor: pointer;
}
.reset:hover{
    background-color: #88cdfa;
}